.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;

  .home__headline {
    text-align: center;
    margin: 3rem;
    h2 {
      font-weight: 400;
      font-size: 1.15rem;
      letter-spacing: 1px;
      color: rgba($accent, 0.7);
    }
  }

  .home__gallery {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    .home__image {
      display: flex;
      height: 100%;
      width: 500px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.95;
        box-shadow: 0 10px 20px rgba(black, 0.35);
        cursor: pointer;
      }
    }

    .home__image.center {
      border: none;
      display: flex;
      flex-direction: column;
      gap: 80px;

      .center__image {
        flex: 1;
        min-height: 0;
      }
    }
  }
}