header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h1 {
      font-weight: 600;
      color: rgba($accent, 0.85);
    } p {
      letter-spacing: 2px;
      font-size: 1.2rem;
      color: rgba($accent, 0.7);
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 6rem;
    width: 100%;
    a {
      position: relative;
      text-decoration: none;
      letter-spacing: 1px;
      color: rgba($accent, 0.7);
      transition: .3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 0;
        background-color: rgba($accent, 0.7);
        transition: width 0.2s ease-in-out;
      }

      &:hover::before {
        width: 100%;
      } &:hover {
        font-weight: 500;
      }
    }

    .basket {
      position: relative;
      display: flex;
      font-size: 1.7rem;
      gap: 6px;

      span {
        position: absolute;
        top: 4px;
        right: -16px;
        font-size: 20px;
        background: $background;
        border-radius: 50px;
        font-weight: 400;
        text-align: left;
        z-index: 2;
      }
    }
  }
}