@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

$primary: #2D2D2D;
$secondary: #E5E7EB;
$accent: #451A03;
$background: #FFFAF0;
$gray: #666;

// for _basket.scss
$bg-page: #f6f7f9;
$bg-card: #ffffff;
$text-primary: #1f2937;
$text-secondary: #6b7280;
$text-danger: #ef4444;
$text-dark: #111827;

$radius: 12px;
$shadow-default: 0 6px 18px rgba(0, 0, 0, 0.08);
$shadow-hover: 0 10px 24px rgba(0, 0, 0, 0.12);

$transition: 0.15s ease;