@import "./styles/_variables.scss";
@import "./styles/_navbar.scss";
@import "./styles/_homepage.scss";
@import "./styles/_crumbs.scss";
@import "./styles/_basket.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  background: $background;
  overflow-x: hidden;
}